@charset "utf-8";

.material-icons, body, html {
  -webkit-font-smoothing: antialiased;
}

.footer_container, .homeslidcontainer, .icon_home, .should-text, .text-center, .video_box .card-img-heading, a.ev_top_rit, h1.content_headline {
  text-align: center;
}

.bodycolorfordesk {
  background: rgb(255, 255, 255) !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://fonts.gstatic.com/s/materialicons/v20/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format("woff");
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
}

.send_button a, a.icon_home {
  text-decoration: none;
}

.fbtn-lg, .pull-right {
  float: right;
}

.clearboth, .clr {
  clear: both;
}

.nonDraggableImage, .sliderContainer .nonDraggableImage {
  -webkit-user-drag: none;
}

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

::-webkit-scrollbar {
  display: none;
}

#externalloader {
  width: calc(100%);
  overflow-x: hidden;
  border: none;
  overflow-y: auto;
  opacity: 0;
}

.iframecontainer, .send_button a {
  overflow: hidden;
}

.iframecontainer {
  padding-top: 113px;
  padding-bottom: 0;
  margin: 0;
  border: none;
  line-height: normal;
  display: flex;
  flex-direction: column;
}

#dropdown1 > li {
  width: calc(100% / 4);
}

.logo {
  max-height: 56px;
  vertical-align: middle;
}

.margin-left-15 {
  margin-left: 15px;
}

.icon-block {
  padding: 0 15px;
  .material-icons {
    font-size: inherit;
  }
}

img {
  max-width: 100%;
}

.header-logo.margin_logo {
  padding-left: 20px;
  font-weight: 500;
}

.fbtn-container {
  width: 100%;
  background: #fafafa;
  border-top: 1px solid #ccc;
  right: 0;
  bottom: 0;
}

.fbtn {
  margin: 0 auto;
  border-radius: 0;
}

.fbtn-dropdown .fbtn {
  margin: 10px 0;
}

.footer {
  padding: 0;
}

.icon_home {
  padding: 0;
  display: inline-block;
  margin: 15px 0 0;
  i {
    background: #fff;
    display: block;
    padding-top: 18px;
    border: 2px solid #dbe0db;
    border-radius: 50%;
    width: 121px;
    height: 121px;
    margin: 0 auto;
  }
  span {
    display: block;
    font-size: 17px;
    color: #505050;
    margin-top: 0;
  }
}

.rpt {
  background: #f4f4f4;
}

.menu-logo {
  background: #4caf50;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 0;
}

.menu-content .nav {
  .a, a {
    font-size: 19px;
    background: #f3f3f3;
    font-weight: 200;
    border-bottom: 1px solid #e6e6e6;
  }
}

.homeslidcontainer {
  width: 100%;
  max-height: 100%;
}

.menu-content .nav {
  .a {
    &:focus, &:hover {
      background-color: #ececec;
    }
  }
  a {
    &:focus, &:hover {
      background-color: #ececec;
    }
  }
}

.inner_header .header-logo.margin_logo {
  padding-left: 0;
}

.form-group-label, .inner_hed .content-heading h1.heading {
  margin-top: 0;
}

.form-control, .picker__select--month, .picker__select--year {
  color: #8e8e8e;
}

.form_box {
  margin-top: 68px;
}

.form_pading {
  padding: 0 20px 20px;
}

.btn_full {
  width: 100%;
}

.btn_green {
  background-color: #4caf50;
}

a.ev_top_rit {
  width: 45px;
  padding: 13px 0;
  display: block;
  font-size: 20px;
}

body {
  padding-top: 0;
  padding-bottom: 0;
}

.event_sec {
  background-size: cover;
  background-position: top left;
  padding-top: 80px;
  color: #fff;
  position: relative;
  font-weight: 500;
  font-size: 15px;
}

.relativeposition {
  position: relative !important;
}

.event_sec {
  i {
    font-weight: 400;
    font-size: 12px;
  }
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.33);
    position: absolute;
  }
}

.card-header-side.pull-left, .pull-left.tile-side {
  position: relative;
  padding-top: 23px;
}

.event_box_l {
  width: 20%;
  margin-right: 5%;
  padding-top: 17px;
}

.event_box_r {
  width: 75%;
}

.avatar-green {
  background-color: #4caf50;
}

.video_box {
  .card-heading {
    margin: 0;
  }
  .card-inner {
    margin: 10px 16px 24px;
  }
  .card-img-heading {
    top: 0;
    padding-top: 11%;
    font-size: 69px;
  }
}

.logo_box {
  padding: 10px 0;
}

.proven_section {
  background: #36C;
  padding: 20px;
  position: relative;
}

h1.content_headline {
  font-size: 30px;
  font-weight: 700;
  color: #fdfdfd;
  width: 100%;
  line-height: 35px;
  padding: 0 0 31px;
  margin: 31px 0 0;
}

.video_right ul {
  padding: 0;
  margin: 25px 0 0;
  li {
    font-size: 20px;
    font-weight: 500;
    color: #fcfcfc;
    background: transparent no-repeat;
    padding: 0 0 4.4% 38px;
    line-height: 25px;
    list-style: none;
  }
}

.proven_section:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(51, 102, 204, 0);
  border-top-color: #36c;
  border-width: 12px;
  margin-left: -12px;
}

.sendme_video_section {
  background-color: #f8f8f8;
  border-bottom: 1px solid #efefef;
  padding: 20px 0;
}

.should-text {
  width: 100%;
  padding: 18px 0 0;
  background: 0 0;
  min-height: 60px;
  font-size: 24px;
}

.mentioned_logo h2.title {
  font-size: 26px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.send_button a {
  font-size: 26px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 12px 0;
  border-bottom: 2px solid #f90;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 6px;
  color: #FAFAFA;
  background-color: #fc3;
  margin-top: 15px;
}

.mentioned_logo {
  h2.title {
    color: #3D3D3D;
    margin: 0 0 23px;
  }
  a img {
    border: 1px solid #e6e6e6;
    margin: 10px 1% 0 0;
    max-width: 223px;
    max-height: 97px;
  }
}

.client_section {
  padding: 20px 0;
  background: #fff;
}

.footer_container {
  border-top: 1px solid #ebebeb;
  background-color: #f3f3f3;
  padding: 28px 0 26px;
  color: #242424;
  font-size: 11px;
  font-weight: 400;
  a {
    color: #020202;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
  }
}

.pull-left {
  float: left;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.nav_green {
  background: #4caf50;
  box-shadow: 0 0 0 #000;
}

.nav_fix {
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 997;
}

.n_margin_logo {
  font-weight: 500;
  font-size: 20px;
  display: block;
  float: left;
  height: 48px;
  line-height: 28px;
  margin: 0 16px;
  padding: 14px 0;
}

a.n_ev_top_rit {
  width: 45px;
  padding: 0;
  text-align: center;
  display: block;
  font-size: 20px;
  right: 0;
  position: absolute;
}

.all_set {
  background: #00608D;
}

.thanku_box {
  width: 90%;
  margin: 20px;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 0 0 #00547C, 0 7px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 #00547C, 0 7px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 #00547C, 0 7px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 41px;
    color: #015D88;
  }
}

.nav_fix .tabs.tabs-transparent {
  background: #429c46;
}

.tav_cont {
  padding-top: 100px;
}

.special_box {
  .card {
    margin: 0 0 1px;
    position: relative;
    &.horizontal .card-stacked .card-content span {
      font-size: 40px;
      line-height: 30px;
      font-weight: 500;
      color: #818288;
    }
    &:hover:before {
      position: absolute;
      right: 0;
      width: 10px;
      height: 100%;
      top: 0;
      content: "";
      background: #4caf50;
    }
    .card-content {
      p {
        font-size: 12px;
        line-height: 18px;
      }
      padding: 10px;
      border-radius: 0;
    }
  }
  .collapsible {
    padding: 0;
    margin: 0;
    border: 0 solid #000;
  }
  .collapsible-header {
    margin: 15px 0 0;
    border: none;
    background: #f4f4f4;
  }
}

.collaps_b {
  padding: 10px 0;
  background: #fff;
  .row {
    margin-bottom: 0;
  }
}

.spec_con {
  h2 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 700;
  }
  span {
    font-weight: 700;
    text-transform: uppercase;
    color: #4caf50;
  }
}

.collapsible-body .spec_con p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #333;
}

.spec_ing .table {
  thead th {
    border-radius: 0;
    padding: 7px 5px;
  }
  tbody {
    td {
      padding: 10px 5px;
      border-radius: 0;
    }
    tr:nth-child(even) {
      background: #f4f4f4;
    }
  }
}

.special_box .collapsible-body {
  border: 1px solid #ddd;
  box-sizing: border-box;
  background: #fff;
  margin: 0 12px;
}

nav .button-collapse {
  float: right;
}

.h_head .heading {
  margin-top: 50px;
  margin-bottom: 0;
}

.content-heading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 68px;
}

.nav_trasparent {
  background: rgba(76, 175, 80, 0);
  box-shadow: none;
}

nav .brand-logo {
  font-size: 25px;
}

.side-nav a {
  font-size: 16px;
  border-bottom: 1px solid #eae4e4;
  &:hover {
    background: #efefef;
  }
}

.fixed-action-btn.width_footer {
  width: 100%;
  text-align: right;
  padding: 4px 10px;
  bottom: 0;
  right: 0;
  border-top: 1px solid #ccc;
  background: #fff;
}

.add_section, .center, .loder_box, .serch_top_box a, .success_content, ul.under_tabe li a {
  text-align: center;
}

.foot_logo {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 35%;
}

.next_top {
  padding: 0 16px;
  float: left;
  height: 56px;
}

li.nav_home a {
  font-size: 23px;
  padding: 10px 20px;
  background: #4caf50;
  color: #fff;
  height: 67px;
  width: 100%;
}

ul.under_tabe {
  padding: 0;
  list-style: none;
  margin: 0;
  li {
    padding: 0;
    list-style: none;
    margin: 0;
  }
}

li.nav_home a i {
  float: right;
  font-size: 28px;
  color: #fff;
  margin: 0;
}

nav .button-collapse {
  i {
    line-height: 56px !important;
  }
  &.left_m {
    float: left;
  }
}

ul.under_tabe {
  background: #429c46;
  height: 58px;
  position: relative;
}

.offer_box .btn {
  background: #4caf50;
}

ul.under_tabe li {
  a:hover {
    background: #4caf50;
  }
  ul li {
    a:hover, &:hover {
      background: #4caf50;
    }
  }
  &.active a {
    background: #4caf50;
  }
  display: inline-block;
  width: calc(100% / 5);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  a {
    padding: 5px 2px;
    margin: 0;
    display: block;
    color: #fff;
    font-size: 20px;
    i {
      height: auto;
    }
    span {
      font-size: 9px;
      line-height: 18px;
      display: block;
    }
  }
  ul li {
    width: 100%;
    float: none;
    background: #4caf50;
    a {
      display: block;
    }
  }
}

.h_top_pading {
  padding-top: 113px;
  overflow-x: hidden;
}

.overflow-show {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.offer_box {
  h2 {
    font-size: 20px;
    float: left;
    font-weight: 500;
    margin: 10px 0;
    span {
      display: block;
      font-size: 11px;
      line-height: 18px;
    }
  }
  .btn {
    padding: 0 14px;
    height: 28px;
    line-height: 30px;
    margin-top: 12px;
    font-size: 12px;
  }
}

.offer_d a {
  margin-bottom: 5px;
  display: block;
}

.side-nav .nav_home a:hover, li.nav_home a:hover i {
  color: #fff;
  background: #429c46;
}

.side-nav {
  a.active {
    background: #4caf50;
    color: #fff;
    i {
      background: #4caf50;
      color: #fff;
    }
  }
  li > a > i {
    margin-right: 10px;
  }
}

.search_top {
  background: #429c46;
  padding: 4px 0;
}

.serch_top_box {
  background: #fff;
  width: 98%;
  margin: 0 auto;
  input {
    margin-bottom: 0;
    display: inline-block;
    width: 85%;
    color: #000;
    border: none;
    height: 34px;
    line-height: 34px;
    padding-left: 4%;
    outline: 0;
    &:not([type]):focus {
      border: none;
      outline: 0;
    }
  }
  a {
    padding: 5px;
    display: inline-block;
    width: 9%;
    color: #ccc;
  }
}

.form_box2 {
  padding-top: 165px;
}

.locate_box {
  .collection .collection-item.avatar i.circle {
    background-color: #bcbdbf;
  }
  .secondary-content {
    color: #cdced2;
  }
  .collapsible-header {
    width: 28px;
    padding: 0;
    background: 0 0;
    border: none;
  }
  .collection .collection-item.avatar .title {
    font-weight: 700;
  }
}

.rating span {
  &.hand_down, &.hand_right, &.star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
  }
}

.locate_box .collection .collection-item.avatar {
  padding: 10px 0 0;
  .locate_inner {
    padding-left: 68px;
  }
}

.collection .collection-item.active {
  background-color: #4caf50;
}

.locate_map {
  margin-top: 15px;
}

.from_box3 {
  margin-top: 56px;
}

.regist_top {
  background: #429c46;
  padding: 8px 5px 5px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  .row {
    margin-bottom: 0;
  }
}

.form_pading input {
  margin: 0 0 8px;
}

.regist_top .material-icons {
  font-size: 55px;
}

.rating {
  direction: rtl;
  font-size: 30px;
  unicode-bidi: bidi-override;
  width: 100%;
  float: left;
  span {
    &.star {
      &::before {
        color: #777;
        content: "";
        padding-right: 0;
      }
      &.active {
        &::before, ~ span.star::before {
          color: #e3cf7a;
          content: "";
        }
      }
      &:hover {
        &::before, ~ span.star::before {
          color: #e3cf7a;
          content: "";
        }
      }
    }
    &.hand_right {
      &::before {
        color: #777;
        content: "";
        padding-right: 0;
      }
      &.active {
        &::before, ~ span.hand_right::before {
          color: #e3cf7a;
          content: "";
        }
      }
      &:hover {
        &::before, ~ span.hand_right::before {
          color: #e3cf7a;
          content: "";
        }
      }
    }
    &.hand_down {
      &::before {
        color: #777;
        content: "";
        padding-left: 5px;
      }
      &.active {
        &::before, ~ span.hand_down::before {
          color: #e3cf7a;
          content: "";
        }
      }
      &:hover {
        &::before, ~ span.hand_down::before {
          color: #e3cf7a;
          content: "";
        }
      }
    }
  }
}

.suc_icon, .white_color {
  color: #fff;
}

.loder_box {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  display: table;
  .inner {
    display: table-cell;
    width: 15px;
    height: 15px;
    vertical-align: top;
    padding-top: 11px;
  }
}

.dropdown-content {
  opacity: 1;
  background: inherit;
  display: none;
  width: 100%;
  top: 58px;
}

.ng-cloak, .x-ng-cloak, [data-ng-cloak], [ng-cloak], [ng\:cloak], [x-ng-cloak] {
  display: none !important;
}

#sidenav-overlay {
  z-index: 998;
}

.success_total {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
}

.success_box {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  padding: 6%;
}

.success_content {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 6%;
  p {
    font-size: 16px;
  }
}

.suc_icon {
  padding: 10px 20px;
  background: #4caf50;
  display: inline-block;
  font-size: 50px;
  border-radius: 50%;
  margin-top: 5px;
  width: 95px;
}

.btn, .btn-large {
  background-color: #4caf50;
}

.success_content .btn {
  width: 64%;
  font-size: 20px;
}

@media screen and (max-width: 667px) and (min-width: 375px) {
  .icon_home i {
    padding-top: 15px;
    width: 98px;
    height: 98px;
    img {
      width: 59%;
    }
  }
}

@media screen and (max-width: 320px) {
  .icon_home {
    i {
      padding-top: 11px;
      width: 65px;
      height: 65px;
      img {
        width: 59%;
      }
    }
    span {
      font-size: 15px;
    }
  }
  .fbtn-lg {
    height: 46px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.itemslocate {
  max-height: 79px;
}

.locate_view .card.horizontal .card-stacked h3 {
  color: #000;
  margin: 0 0 10px;
  font-size: 20px;
}

.collapsible-body .locate_view p {
  padding: 0;
  color: #333;
  line-height: 18px;
}

.locate_view .card {
  .card-content {
    padding: 0;
  }
  &.horizontal .card-stacked {
    padding: 10px;
  }
  margin: 0;
  padding: 5px;
}

.sliderContainer {
  .slider {
    overflow: hidden;
    position: relative;
    max-height: 144px;
  }
  img.slide {
    width: 100%;
    height: auto;
  }
  .slide {
    position: absolute;
    top: 0;
    left: 0;
  }
  .arrow {
    position: absolute;
    z-index: 2;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: 0;
    cursor: pointer;
    background: transparent no-repeat;
    &.prev {
      opacity: .2;
      left: 20px;
      /*background-image: url(/images/assets/img/paddle_prev_999.png);*/
      transition: 0.2s linear all;
    }
    &.next {
      opacity: .2;
      right: 20px;
      /*background-image: url(/images/assets/img/paddle_next_999.png);*/
      transition: 0.2s linear all;
    }
    &.prev:hover {
      opacity: 1;
     /* background-image: url(/images/assets/img/paddle_prev_fff.png);*/
    }
    &.next:hover {
      opacity: 1;
      /*background-image: url(/images/assets/img/paddle_next_fff.png);*/
    }
  }
  .nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
    background: 0 0;
    box-shadow: none;
    line-height: normal;
    width: auto;
    color: inherit;
    .wrapper {
      margin: 0 auto;
      width: 100%;
      padding: 1em 0 0.8em;
    }
    ul {
      margin: 0;
      width: 100%;
    }
    .dot {
      display: inline-block;
      zoom: 1;
      a {
        display: inline-block;
        zoom: 1;
      }
    }
  }
  .dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
    transition: inherit;
    float: none;
    a {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 6px;
      height: 6px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background: #FFF;
      border: 1px solid transparent;
      outline: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: background-color .25s, border-color .25s;
      -moz-transition: background-color .25s, border-color .25s;
      transition: background-color .25s, border-color .25s;
      padding: 0;
      &.active {
        border-color: #FFF;
        background-color: transparent;
      }
    }
  }
}

.hand_down.active::before, .hand_right.active::before, .star.active::before {
  color: #e3cf7a !important;
}

.popover_down {
  width: 100%;
  background: #fff;
  border: 1px solid #ececec;
  border-bottom: 0 solid #ccc;
  border-top: 4px solid #4caf50;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  z-index: 1;
}

.pop_position {
  position: relative;
}

.pop_cros {
  position: absolute;
  top: 0;
  right: 1px;
  z-index: 10;
  font-size: 20px;
  color: #429c46;
  padding: 3px 8px;
  cursor: pointer;
}

.popover_down .collection .collection-item.avatar {
  min-height: auto;
  padding-left: 15px;
  .title {
    font-size: 17px;
    font-weight: 700;
  }
}

.pushmessagecontainer {
  border-top: none;
  .collection .collection-item.avatar {
    .title {
      font-size: 15px !important;
      font-weight: 600 !important;
    }
    p {
      padding-left: 5px !important;
      font-size: 13px !important;
    }
    background: transparent !important;
  }
}

.popover_down .collapsible {
  margin: 0;
}

.h_top_pading .offer_box h2 {
  margin-bottom: 5px;
}

@media screen and (min-width: 580px) and (max-width: 767px) {
  .h_top_pading {
    padding-top: 125px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sliderContainer .slider {
    max-height: 303px;
  }
  .h_top_pading {
    padding-top: 120px;
  }
  nav a.button-collapse {
    display: block;
  }
}

.qrcodeholder {
  display: block;
  height: 56px;
  font-size: 39px;
  margin-right: 6px;
}

.margin-top-10 {
  margin-top: 10px;
}

.iteminnerholder {
  width: 100%;
  display: flex;
}

div.locate_box > ul > li > div.locate_inner > p {
  width: 86%;
}

::-webkit-scrollbar {
  width: 0;
  background: 0 0;
}

.collapsible-body {
  padding: 0.4rem;
}

.loder_box {
  height: calc(100% - 114px) !important;
  top: 114px !important;
  background: 0 0 !important;
}

.preloader-wrapper.big {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 100%;
  border: 10px solid #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.sliderContainer .slider {
  position: relative;
  max-height: 100%;
}

.slider {
  position: relative;
  height: 100%;
  width: 100%;
}

.h_top_pading .offer_box h2 {
  float: none;
}

.pull-left {
  float: left !important;
}

.sliderContainer {
  .nav .wrapper {
    margin: 39% auto 0;
    width: 100%;
    padding: 1em 0 .8em;
  }
  .slider {
    overflow: visible;
    position: relative;
    max-height: 100%;
  }
}

.top-pad {
  margin-top: 45%;
}

/*================Shopping Cart top bar element================*/
.qrcodeholder{
   i{
     font-size: 23px;
   }
}
a.button-collapse.waves-effect.cart-top {
    padding-right: 13px;
    display: block;
    display: block;
    height: 56px;
    font-size: 39px;
    margin-right: 6px;
    position: relative;
  i {
    font-size: 23px;
  }
  span {
    top: 6px;
    left: 13px;
    padding: 0 6px;
    background: #ffffff;
    color: #000;
    display: inline-block;
    height: 18px;
    line-height: 20px;
    position: absolute;
    border-radius: 50px 50px;
    font-size: 13px;
  }
}

/*================Shopping Cart top bar element================*/

#lockscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 9999999;
  display: none;
  &.show {
    display: block;
  }
  &::after {
    content: "Please View in Portrait Mode";
    position: absolute;
    font-size: 24px;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    color: #f4f4f4;
  }
}

.notficationbell {
  position: relative;
  span {
    position: absolute;
    font-size: 57%;
    color: red;
    top: 3%;
    left: 13%;
    font-weight: 700;
    /* border: 1px solid red; */
    display: inline-block;
    /* border-radius: 50%; */
    padding: 0 5px;
    font-family: arial;
  }
}

header{
      color: #fff;
      a{
        color:#fff;
      }
      .nav-wrapper{
        position: relative;
      }
      .sidenavopenar{
        display:block !important; 
        }
}